.main {
  position: relative;
  &__background {
    width: 100%;
    z-index: 1;
    position: relative;
  }
}

.sort-container {
  z-index: 3;
  position: absolute;
  width: 100%;
  top: 16.5rem;
  right: -85rem;
}

.card-container {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 21rem;
  left: 35rem;
}
