.main {
  position: relative;
  &__background {
    width: 100%;
    z-index: 1;
    position: relative;
  }
}

.card-container {
  z-index: 2;
  position: relative;
  width: auto;
  top: -37rem;
  right: -35rem;
}
